@import "tailwindcss";

.swiper {
  width: 100%;
  height: auto; /* 🔥 FIX */
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch; /* 🔥 CHANGE */
}

.hard-reset p,
.hard-reset h2,
.hard-reset h3,
.hard-reset h4 {
  all: revert;
}
/* .all reveret means tailwind ka default styling ynha kam ni karega  */
